html 
    head 
        tile Par o Impar
    body 
    -var numero = 1;
     div 
        while numero < 51
            if numero % 2 == 0
                p #{numero++} Soy Par!
            else 
                p #{numero++} Soy Impar!   

